<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/899eaa20-616d-49f3-a37c-710fc197cd8a/resourceGroups/aksmctest/providers/Microsoft.ContainerRegistry/registries/qiqiacr</ResourceId>
    <ResourceName>qiqiacr</ResourceName>
    <ResourceGroup>aksmctest</ResourceGroup>
    <Subscription>ME-MngEnvMCAP939476-robertdu-1</Subscription>
    <RegistryUrl>https://qiqiacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3f11a54a-dacc-4a6e-b321-1ea9f86fee85</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>